@import url('https://fonts.google.com/specimen/Kumbh+Sans');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --VeryVarkBlue: hsl(220, 13%, 13%);
    --DarkGrayishBlue: hsl(219, 9%, 45%);
    --GrayishBlue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);
    --Black: hsl(0, 0%, 0%)

}

.container{
    display: flex;
    margin-top: 12px;
    width: 100%;
    height: inherit;
}

.nav{
    box-shadow: 2px 3px 4px #ccc;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: inherit;
    height: 60px;
    padding: 0 9px;
    margin-left: 8rem;
    margin-right: 7rem;
}

.logo{
    margin-top: 9px;
    margin-bottom: 16px;
    margin-right: 16px;
    height: 13px;
    width: 95px;
}

.nav-link{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 30rem;
    border-bottom: 1px solid rgb(245, 244, 244);
}

.nav-link li{
    display: inline;
    justify-content: space-between;
    margin-inline: 6px;
    padding-bottom:4px;
}

.nav-link a{
    text-decoration: none;
    color: var(--GrayishBlue);
    padding-bottom: 4px;
    font-family: Kumbh Sans;
}

.nav-link a:hover{
    color: var(--Black);
    border-bottom: 2px solid var(--Orange);
    padding-bottom: 6px;

}

.pg-icon{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 25px;
    height: 16px;
}

.pg-gb{
    height: 33px;
    margin-top: 4px;
    margin-right: 9px;
    margin-bottom: 5px;
    border-radius: 50px;
}

/* .pg-gb:hover{
    border-color: 2px solid var(--Orange);
    background-color: var(--Orange);
} */

.inner-container{
    display: flex;
    width: fit-content; 
    margin-top: 5rem;
    margin-left: 16em;
}

.shop-item{
    display: flex;
    justify-content: center;
    margin-right: 4em;
    width: inherit;
}

.pg-img{
    height: 250px;
    width: 240px;
    border-radius: 10px;
}

.pg-b{
    height: 50px;
    margin-top: 1em;
    border-radius: 5px;
    margin-inline: 3.2px;
   
}

.pg-b:hover{
    cursor: pointer;
    color: black;
    background-color: Black;
    /* opacity: 60%; */
    border: 2px solid var(--Orange);
}

.pg-text{
    height: inherit;
    width: inherit;
    padding-top: 31px;
}

.pg-h6{
    color: var(--Orange);
    font-size: 11px;
    text-transform: uppercase;
    font-family: Kumbh Sans;
}

.pg-h1{
    margin-top: 5px;
    font-weight: 700;
    font-size: 31px;
    font-family: Kumbh Sans;
}

.pg-par{
    margin-top: 1.3em;
    color: var(--DarkGrayishBlue);
    font-weight: 400;
    font-size: 14px;
    font-family: Kumbh Sans;
}


.pg-price-holder>div{
    display: inline-flex;
    margin-inline: 3px;
    margin-top: 22px;
    font-family: Kumbh Sans;
}

.price{
    flex-direction: column;
}

.price del{
    margin-top: 2px;
    margin-right: 1em;
    color: var(--GrayishBlue);
    font-size: 14px;
}

.pg-h5{
    font-size: 18px;
    color: var(--Black);
    font-weight: 700;
}

.pg-p{
    font-size: 14px;
    background-color: var(--Paleorange);
    color: var(--Orange);
    font-weight: 700;
}

.pg-btn-holder{
    margin-top: 19px;
    display: inline-flex; 
    align-items: center;
    margin-left: 26px;
    margin-right: 26px;
}

.minus{
    background-color: var(--White);
    border: none;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 7px;
    margin-bottom: 5px;
}

.num{
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 400;
    font-size: 16px;
    color: var(--Black);
}

.plus{
    background-color: var(--White);
    border: none;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8;
}

.add{
    width: 12em;
    background-color: var(--Orange);
    height: 34px;
    display: flex;
    margin-left: 33px;
    align-items: center;
    color: var(--White);
    border: none;
    cursor: pointer;
    border-radius: 9px;
}

.add img{
    margin-left: 37px;
    color:  var(--White);
}

.add p{
    margin-right: 30px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}
