.header{
    width: 100%;
    box-shadow: -1px -2px 8px $black;

    .header-content{
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 10px 0 10px 22px;

        .nav{
            display: flex;
            align-items: center;
            gap: 25px;

            .menu{
                display: none;
            }

            .nav-links{
                margin-left: 25px;

                ul{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    list-style: none;

                    .close{
                        display: none;
                        margin-bottom: 25px;
                    }

                    li{

                        a{
                            text-decoration: none;
                            color: $grayish-blue;
                            font-family: 'Kumbh Sans', sans-serif;
                            padding-bottom: 5px;

                            &:hover{
                                color: $black;
                                border-bottom: 2px solid $orange;
                                padding-bottom: 6px;
                            }
                        }
                    }
                }
            }
        }

        .cart{
            position: relative;
            margin-left: 589px;

            img{
                height: 30px;
            }

            .cart-count {
                position: absolute;
                top: -25%;
                right: -25%;
                background-color: $orange;
                color: $white;
                font-size: 1rem;
                font-weight: 700;
                line-height: 100%;
                padding: 0.1rem 0.6rem;
                border-radius: 1rem;
            }
        }

        .ava{ 

            img{
                height: 33px;
                border-radius: 50px;
            }
        }

        .cart-content{
            position: absolute;
            right: 1rem;
            top: 58px;
            width: fit-content; 
            z-index: 1;
            background-color: $white;
            border-radius: 12px;
            box-shadow: 0 1rem 1rem 1rem rgba(0,0,0, 0.1), 0 1rem 2rem 1rem rgba(0,0,0, 0.1);

            .cart-header{
                border-bottom: 1px solid $grayish-blue;
                padding: 16px;
                font-size: 1.6rem;
                font-weight: 700;
            }

            .products-in-cart{

                .item{
                    margin: 20px;
                    display: flex;
                    align-items: center;
                    gap: 22px;

                    .product-img{
                        width: 5rem;
                        border-radius: 0.5rem;
                    }

                    .details{
                        color: $very-dark-blue;
                        font-size: 22px;
                        line-height: 40px;

                        .price-group{
                            display: flex;
                            gap: 12px;

                            .total-amount {
                                font-weight: 700;
                                font-size: 1.7rem;
                                color: $black;
                            }
                        }
                    }

                    #btnDelete {
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                    }
                }
            }

            .msg-empty {
                color: $dark-grayish-blue;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 700;
                padding: 40px 42px;
            }

            .checkout {
                background-color: $orange;
                color: $white;
            
                text-align: center;
                font-size: 1.6rem;
                font-weight: 700;
            
                margin: 14px;
                padding: 14px;
            
                border-radius: 10px;
                cursor: pointer;
            }
        }

        .hidden{
            display: none;
        }
    }
}