.imageModel{
    position: relative;

    .md-post{
        display: none;

        .previous {
            left: 4%;

            &:hover {
                left: 3%;
            }
        }

        .next {
            right: 4%;

            &:hover {
                right: 3%;
            }
        }

        .arrow{
            display: none !important;
        }

        .images{
            display: none;
        }
    }

    .product-image2{
        height: 350px;
        width: 355px;
        border-radius: 10px;
    }

    .mini-image{
        display: flex;
        align-items: center;
        gap: 12px;

        .img{

           img{
                height: 79px;
                margin-top: 1em;
                border-radius: 8px;

                &:hover{
                    cursor: pointer;
                    color: $black;
                    background-color: $black-opacity;
                    opacity: 40%;
                    border: 2px solid $orange;
                }
            }
        }
    }
}